week_6/.ipynb_checkpoints
project_1/.ipynb_checkpoints
week_3/.ipynb_checkpoints/
week_4/.ipynb_checkpoints/
week_1/.ipynb_checkpoints/
week_2/.ipynb_checkpoints/
week_5/.ipynb_checkpoints/
week_7/.ipynb_checkpoints/
week_8/.ipynb_checkpoints/
week_9/.ipynb_checkpoints/
week_10/.ipynb_checkpoints/
week_11/.ipynb_checkpoints/
week_12/.ipynb_checkpoints/
week_13/.ipynb_checkpoints/
